<!-- <div class="container">
    <div class="col-md_9">
        <div class="row height d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="search"> <i class="fa fa-search"></i> <input type="text" class="form-control" placeholder="Chercher un produit..."> <button class="btn btn-primary">Rechercher</button> </div>
            </div>

        </div>
    </div>
</div> -->


<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 offset-2">
            <form>
                <br>
                <h2>Se Connecter</h2><br>
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="xxxxx@yyy.zz" />
                    <label for="email">E-mail</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Votre mot de passe ici" />
                    <label for="pwd">Mot de passe</label>
                </div>
                <br>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="checkbox" name="checkbox">
                    <label class="form-check-label" for="checkbox">Rester connecté</label>
                    <a class="link" href="/" style="margin-left:10em">Mot de passe oublié?</a>
                </div>
                <br>
                <div class="container d-grid">
                    <button class="btn btn-success btn-block" type="submit" href="/">Se connecter</button>
                    <br>
                    <button class="btn btn-primary btn-block"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                      height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                      <path
                          d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
                  </svg> Se connecter avec Facebook</button>
                </div>
            </form>
        </div>
        <div class="col-md-3 offset-1"><br>
            <h2>Créer Un Compte</h2><br>
            <p class="text-secondary">Pour bénéficier des avantages de notre site web vous devez vous inscrire si vous ne l'êtes pas déjà. Tout simplement en cliquant sur le bouton créer un compte ci-dessous ou vous pouvez aussi créer un compte à partir de votre compte Facebook.
                <br><br></p><br><br>
            <div class="container d-grid">
                <button class="btn btn-warning btn-block" id="btn1" type="button" [routerLink]="'/formulaire-inscription'">Créer un compte</button>
                <br>
                <button class="btn btn-primary btn-block"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                  height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path
                      d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z" />
              </svg> Créer avec Facebook</button>
            </div>
        </div>
    </div>
</div>
