<body>
    <div class="container">
        <div class="row ApRow  has-bg bg-boxed" data-bg=" no-repeat" style="background: no-repeat;margin-top: 80px;margin-bottom: 10px;">
            <!-- @file modules\appagebuilder\views\templates\hook\ApColumn -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 col-sp-12  ApColumn ">
                <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
                <div class="block padding-10 ApHtml">
                    <div class="block_content">
                        <h2 style="line-height: 1.5em; letter-spacing: 1px;"><span style="color: #217fbd;">Préambule</span></h2>
                        <p style="line-height: 1.5em; letter-spacing: 1px;">Le site <a href="FARMAKEÌO">FARMAKEÌO</a> est un site de commerce électronique qui vend des produits parapharmaceutiques et orthopédiques au détail à des consommateurs finaux.</p>
                    </div>
                </div>
                <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
                <div class="block padding-10 ApHtml">
                    <div class="block_content">
                        <h2 style="line-height: 1.5em; letter-spacing: 1px;"><span style="color: #217fbd;">Objet</span></h2>
                        <p style="line-height: 1.5em; letter-spacing: 1px;"><span style="letter-spacing: 1px;">Les présentes conditions générales de vente (CGV) définissent les modalités de vente entre FARMAKEÌO et le Client. Ils ont pour objet d’informer l’acheteur sur les modalités de commande, de livraison et de paiement ainsi que le fonctionnement du service après-vente. </span></p>
                        <p style="line-height: 1.5em; letter-spacing: 1px;"><span style="letter-spacing: 1px;">Ces présentes conditions concernent exclusivement les personnes physiques non commerçantes.</span></p>
                    </div>
                </div>
                <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
                <div class="block padding-10 ApHtml">
                    <div class="block_content">
                        <h2 style="line-height: 1.5em; letter-spacing: 1px;"><span style="color: #217fbd;">Article 1 : Champs d'application des conditions générales de vente</span></h2>
                        <p style="line-height: 1.5em; letter-spacing: 1px;"><span style="letter-spacing: 1px;">Les présentes conditions générales de ventes s'appliquent à toute commande passée sur le site de FARMAKEÌO .</span></p>
                        <p style="line-height: 1.5em; letter-spacing: 1px;"><span style="letter-spacing: 1px;">Au moment de la passation de commande, le Client reconnaît expressément avoir pris connaissance des présentes conditions et les accepter sans réserve.</span></p>
                        <p style="line-height: 1.5em; letter-spacing: 1px;"><span style="letter-spacing: 1px;"><strong>FARMAKEÌO</strong> se réserve la possibilité de modifier à tout moment les présentes Conditions Générales de Vente. Néanmoins, les Conditions Générales de Vente applicables à la Commande sont celles acceptées par l'Acheteur au moment de la passation de la Commande. </span></p>
                        <p></p>
                    </div>
                </div>
                <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
                <div class="block padding-10 ApHtml">
                    <div class="block_content">
                        <h2 style="line-height: 1.5em; letter-spacing: 1px;"><span style="color: #217fbd;">Article 2 : Responsabilité</span></h2>
                        <p><strong>FARMAKEÌO</strong> décline toute responsabilité concernant des éventuels interruptions ou bogues du site. <strong>FARMAKEÌO</strong> s'engage à décrire avec exactitude les produits vendus sur le site de vente en ligne
                            <a href="FARMAKEÌO ">FARMAKEÌO</a>.FARMAKEÌO n'assure aucune garantie, concernant tout ou partie du site, notamment relative à d'éventuels dommages directs ou indirects découlant de l'utilisation du site
                            <a href="FARMAKEÌO ">FARMAKEÌO </a>et de l'achat de produits. Le site peut mentionner des liens vers d'autres sources externes. Etant donné que FARMAKEÌO ne peut contrôler ces sources externes, FARMAKEÌO ne peut être tenu responsable
                            des contenus, produits, services, publicités, ou éléments disponibles sur ces sources externes.</p>
                    </div>
                </div>
                <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
                <div class="block padding-10 ApHtml">
                    <div class="block_content">
                        <h2 style="line-height: 1.5em; letter-spacing: 1px;"><span style="color: #217fbd;">Article 3: Responsabilité</span></h2>
                        <p>Les commandes s'effectuent exclusivement sur Internet à l'adresse de site de vente en ligne: <a href="http://FARMAKEÌO">FARMAKEÌO</a></p>
                        <p>Pour toute question relative au suivi de la commande, le Client peut contacter le Service Clients au <a href="tel:36 331 003 ">36 331 003 </a>du lundi au samedi de 10h00 à 19h00 ou envoyer un e-mail à <a href="mailto:contact@farmakeio.com.tn">contact@farmakeio.com.tn</a></p>
                        <p>Toute passation de commande vaut acceptation des prix et descriptifs des produits mis en vente sur FARMAKEÌO.</p>
                        <p>Au moment de valider son panier, l'internaute doit accepter les conditions générales de vente de FARMAKEÌO. Cette action formalise le contrat de vente entre FARMAKEÌO et l’acheteur.</p>
                        <p>Nos offres de produits et prix sont valables tant qu'ils sont visibles sur le site, dans la limite des stocks disponibles.</p>
                        <p>Cas particulier des produits pas en stock et qui sont en cours de réapprovisionnement :</p>
                        <p>Si toutefois une indisponibilité momentanée d'un produit après passation de votre commande est constatée, le service client de FARMAKEÌO contactera l’acheteur par un e-mail dans les meilleurs délais pour lui informer de la modification
                            des prix –s’il y a lieu-.</p>
                        <p>Dans le cas des produits en promotion, le Client prends note que les produits en promotion sont dans la limite des stocks disponibles et que les promotions peuvent être limitées dans le temps.</p>
                        <p>.</p>
                        <p>Dans le cas d'une adresse erronée, d'un défaut de paiement ou de tout autre problème sur le compte de l'utilisateur, FARMAKEÌO se réserve le droit de stopper le traitement de la commande du Client jusqu'à résolution du problème,
                            ou d'annuler la commande du Client et le rembourser suite à des ruptures produites.</p>
                        <p>FARMAKEÌO se réserve le droit d’annuler ou de refuser toute commande d’un Client avec lequel il existerait un litige relatif au paiement d’une commande antérieure.</p>
                    </div>
                </div>
                <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
                <div class="block padding-10 ApHtml">
                    <div class="block_content">
                        <h2 style="line-height: 1.5em; letter-spacing: 1px;"><span style="color: #217fbd;">Article 4 : Les tarifs et modalités de paiement</span></h2>
                        <p>Les prix de vente des produits en ligne sur le site de FARMAKEÌO, indiqués en dinar TND, sont ceux en vigueur au moment de la passation de la Commande par l'Acheteur. Les prix de vente des produits peuvent être modifiés par FARMAKEÌO
                            à tout moment.</p>
                        <p>Les prix sont applicables dans le cadre de la vente à distance. Ces prix ne comprennent pas les frais d'expédition, facturés en supplément du prix des produits achetés.</p>
                        <p>Les frais d'expédition seront indiqués avant l'enregistrement de la Commande par l'Acheteur. Les différentes modalités d'expédition sont prévues ci-après dans les CGV et sont rappelées sur le Site ; elles peuvent être modifiées
                            à tout moment par FARMAKEÌO.</p>
                        <p>Les prix indiqués sur le site comprennent la taxe sur la valeur ajoutée (TVA) applicable au jour de la commande. Tout changement du taux applicable sera répercuté sur le prix des produits commercialisé sur le site.</p>
                        <p></p>
                        <p>Produits en promotion : les produits en promotion sont dans la limite des stocks disponibles et peuvent être arrêtés à tout moment.</p>
                        <p>FARMAKEÌO met à votre disposition deux moyens de paiement :</p>
                        <ol style="list-style-type: lower-alpha;">
                            <li><strong>Paiement à la livraison.</strong></li>
                            <li><strong>Paiement par carte bancaire</strong></li>
                        </ol>
                        <p><strong><span style="color: #d0121a;">Les cartes bancaires acceptées sur le Site PHARMAPLUS et auprès du Service Clients de PHARMAPLUS sont les suivantes : CIB, Visa et Master Card. E-DINARS.</span></strong></p>
                        <p><span style="text-decoration: underline;"><strong>Sécurité dans les opérations de paiement </strong></span></p>
                        <p>Afin d'assurer la sécurité du paiement par carte bancaire, l'Acheteur devra transmettre à FARMAKEÌO le cryptogramme visuel (CVV) figurant au verso de la carte bancaire utilisée par l'Acheteur.</p>
                        <p>Dans le cadre de la lutte contre les fraudes sur Internet, les informations relatives à la Commande de l'Acheteur pourront être transmises à tout tiers habilité par la loi ou désigné par FARMAKEÌO aux seules fins de vérification
                            de l'identité de l'Acheteur, de la validité de la Commande, du mode de règlement utilisé et de la livraison envisagée.</p>
                        <p><span style="color: #d0121a;">Suite à ce contrôle, <a href="FARMAKEÌO">FARMAKEÌO</a> se réserve le droit de demander une photocopie de la carte d'identité de l'Acheteur et/ou toute information relative à l'identité de l'Acheteur. Tout Acheteur dispose d'un droit d'accès, de rectification et de suppression des données à caractère personnel qui le concerne et traitées par FARMAKEÌO, dans les conditions prévues à l'article 2 de la charte « Données personnelles &amp; Cookies ».</span></p>
                        <p>Défaut de paiement : FARMAKEÌO se réserve le droit de refuser d'effectuer une livraison ou d'honorer une commande émanant d'un Client qui n'aurait pas réglé en tout ou partie une commande précédente ou avec lequel un litige serait
                            en cours d'administration.</p>
                        <p><span style="text-decoration: underline;"><strong>Cas de force majeure :</strong> </span>FARMAKEÌO se réserve le droit d'annuler la commande d'un client s'il jugeait qu'il n'était pas dans les conditions d'honorer cette commande
                            ou en cas d'erreur de prix.</p>
                    </div>
                </div>
                <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
                <div class="block padding-10 ApHtml">
                    <div class="block_content">
                        <h2 style="line-height: 1.5em; letter-spacing: 1px;"><span style="color: #217fbd;">Article 5 : La Préparation de commande , expédition et livraison</span></h2>
                        <p>Les produits commandés par l'Acheteur conformément aux présentes CGV seront livrés à l'adresse indiquée par l'Acheteur comme adresse de livraison sur la Commande concernée (« Adresse de livraison »). </p>
                        <p>FARMAKEÌO livre seulement en Tunisie. Les factures d'achat sont adressées par courrier électronique à l'adresse de messagerie électronique indiquée par l'Acheteur lors de son inscription sur le Site de FARMAKEÌO.</p>
                        <p></p>
                        <p><span style="color: #d0121a;"><strong>A la livraison, l'Acheteur ou le destinataire de la Commande est livré par la société Rapid poste </strong></span></p>
                        <p><span style="color: #d0121a;"><strong>En cas d'absence, l'Acheteur ou le destinataire du produit commandé reçoit un avis de passage, ce qui lui permet de prendre contact avec le transporteur aux coordonnées indiquées sur l'avis de passage afin de convenir d'un autre jour de livraison. </strong></span></p>
                        <p></p>
                        <p>Nos délais de préparation habituels sont de 1 à 4 jours ouvrables.</p>
                        <p>Les délais de livraison commencent à courir dès l'envoi du courrier électronique de confirmation de Commande.</p>
                        <p><span style="text-decoration: underline;"><em><strong><span style="color: #2c9ffd; text-decoration: underline;"> a) Commandes non reçues</span></strong>
                            </em>
                            </span>
                        </p>
                        <p>Le client peut contacter le Service Clients de beautystore.tn, par courrier électronique à l’adresse électronique suivante : contact@farmakeio.com.tn en cas de retard ou d’absence de livraison de sa commande.</p>
                        <p>Vous avez la possibilité d’annuler votre commande si la livraison de celle-ci n’est pas intervenue au plus tard 7 jours ouvrés après la date de livraison indiquée par la Société, sauf si ce retard de livraison est dû à un cas de
                            force majeure. Nous nous engageons à vous rembourser les sommes versées dans les meilleurs délais et au plus tard dans un délai de 30 jours suivant votre demande.</p>
                        <p><span style="text-decoration: underline;"><em><strong><span style="color: #2c9ffd; text-decoration: underline;">b) modalités de retour des produits et remboursements</span></strong>
                            </em>
                            </span>
                        </p>
                        <p>Dans le cas où le produit livré ne correspond pas à celui que vous avez commandé ou a été endommagé lors du transport, nous prenons en charge le retour ainsi que le remplacement de votre commande.</p>
                        <p>Dans le cas où le retour concerne le changement total du produit, le retour sera pris en charge par le client et un avoir correspondant au montant de votre produit sera crédité sur votre compte client qui vous permettra d’effectuer
                            un autre achat pour le même montant sur notre siteFARMAKEÌO.</p>
                        <p>Vous disposez d’un delai de 24h ouvrables à compter de la date de réception de votre commande pour faire votre réclamation. Passé ce délai, aucun remboursement ne pourra être réclamé.</p>
                        <p>Le remboursement se fera sous forme d’un avoir correspondant au montant de votre produit sur votre compte client qui vous permettra d’effectuer un autre achat à utiliser sur le site FARMAKEÌO</p>
                        <p><span style="text-decoration: underline;"><em><strong><span style="color: #2c9ffd; text-decoration: underline;">c) Qualité et conformité des produits</span></strong>
                            </em>
                            </span>
                        </p>
                        <p>Nous vous invitons à vérifier (ou à faire vérifier par le mandataire qui reçoit) l'état apparent de votre coli. Quel que soit le transporteur et en présence d'une anomalie apparente vous devez refuser le colis. Le Transporteur
                            ne permet pas d'ouvrir le coli avant le paiement de la commande mais vous pouvez constater l'anomalie après avoir effectuer cette opération</p>
                        <p>Dans le cas d'anomalie, FARMAKEÌO s'engage à vous rembourser ou à vous échanger les produits ne correspondant pas à votre commande après que vous ayez fait part de votre réclamation en précisant vos coordonnées, votre numéro de
                            facture, les références du produit figurant sur la facture, par mail à <a href="mailto:contact@farmakeio.com.tn"><span style="text-decoration: underline;">contact@farmakeio.com.tn</span></a>.</p>
                        <p></p>
                    </div>
                </div>
                <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
                <div class="block padding-10 ApHtml">
                    <div class="block_content">
                        <h2 style="line-height: 1.5em; letter-spacing: 1px;"><span style="color: #217fbd;">Article 6 : Propriété intellectuelle</span></h2>
                        <p>Les documents et éléments (textes, images, vidéo, audio,) contenus dans le site de FARMAKEÌO ainsi que leur mise en forme sont la propriété exclusive de FARMAKEÌO et/ou de ses fournisseurs. FARMAKEÌO ne concède aucune licence,
                            ni aucun droit autre que celui de consulter le site.</p>
                        <p>La reproduction de tous documents publiés sur le site est autorisée aux fins exclusives d'information pour un usage personnel et privé. Tout autre usage est strictement interdit.</p>
                        <p>FARMAKEÌO se réserve le droit de demander des dommages et intérêts en cas de d'atteinte à ses droits de propriété intellectuelle.</p>
                        <p></p>
                    </div>
                </div>
                <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
                <div class="block padding-10 ApHtml">
                    <div class="block_content">
                        <h2 style="line-height: 1.5em; letter-spacing: 1px;"><span style="color: #217fbd;">Article 7 : informatiques et libertés</span></h2>
                        <p>FARMAKEÌO s'engage à préserver la confidentialité des informations fournies en ligne par l'internaute à FARMAKEÌO pour la bonne gestion des commandes, des livraisons, factures et l'utilisation de certains services.</p>
                        <p>Le Client dispose d'un droit d'accès, de modification, de rectification et de suppression des données le concernant. </p>
                        <p>FARMAKEÌO est susceptible d'utiliser des fichiers "cookies" déposés dans l'ordinateur des visiteurs de son site internet. Un fichier cookie enregistre des informations relatives à la navigation de l'ordinateur des visiteurs sur
                            le site internet de FARMAKEÌO. Grâce aux cookies, le visiteur n'a plus besoin, lors d'une prochaine visite, de remplir certains éléments préalablement demandés.</p>
                    </div>
                </div>
                <!-- @file modules\appagebuilder\views\templates\hook\ApGeneral -->
                <div class="block padding-10 ApHtml">
                    <div class="block_content">
                        <h2 style="line-height: 1.5em; letter-spacing: 1px;"><span style="color: #217fbd;">Article 8 : force majeure</span></h2>
                        <p>FARMAKEÌO ne saurait être tenu pour responsable de l'inexécution du contrat conclu, due à la survenance d'un événement de force majeure.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>