<body>
    <div class="about">
        <div class="inner-section">
            <h1>BIENVENUE SUR FARMAKEÌO</h1>
            <p class="text">
                Votre parapharmacie en ligne. Profitez d’une navigation facile et agréable grâce à nos différents espaces qui vous permettront de trouver rapidement ce dont vous avez besoin pour vous et toute votre famille. Produits santé et d’hygiène, cosmétiques, orthopédique,
                maternité et bébé ou encore produits diététiques et minceur sont à votre disposition et ce à des prix attractifs. Nous vous proposons également de nombreuses réductions tout au long de l'année. Réservez facilement en ligne des produits
                au meilleur prix, puis recevez-les directement à votre lieu de travail.
            </p>
            <div class="skills">
                <button [routerLink]="'/contactUs'">Contact Us</button>
            </div>
        </div>
    </div>
</body>