// .body {
//     background-image: url('../assets/background-pink.jpg');
// }
.body{
    height: 100%;
    width: 100%;
    background-image: url('../assets/med3.jpg');
    background-position: center;
    background-size: cover;
}
