@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");
.height {
    height: 10vh
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    right: 150px;
}

.search input {
    height: 60px;
    text-indent: 5px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid #793bec
}

.search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px
}

.search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #35bbca
}

.logo {
    position: relative;
    margin-left: 50px;
    text-align: top-left;
}

.wrapper {
    display: flex;
    align-items: center;
}

.container {
    width: 1500px;
    height: 700px;
    position: relative;
    margin: 6% auto;
    background: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 30px;
    overflow: hidden;
    top: -50px;
}

.col-md-3 {
    background-color: azure;
}

.col-md-4 {
    background-color: azure;
}

.body {
    background-color: black;
}

.form-control {
    // width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #ffffff;
    outline: none;
    background: transparent;
}

.form-label {
    color: #dddddd;
}

::placeholder {
    color: #dddddd;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #FF69B4, #FFC0CB);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.reset-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #FF69B4, #FFC0CB);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.reset-btn {
    margin-top: 20px;
}

.submit-btn {
    margin-top: 30px;
}

.invalid-feedback {
    color: #FF0000;
}

#s{
    background-color: transparent;
}