<h2 style="text-align: center;">Formulaire d'inscription</h2><br>
<div class="container">
    
    <form class="was-validated">
        
            <div class="row">
                <div class="col">
                    <!-- <label for="nom " class="form-label"> Nom </label> -->
                    <input type="text" class="form-control" placeholder="Entrer votre nom" name="nom" required>
                    <div class="valid-feedback">Valide</div>
                    <div class="invalid-feedback">Champ obligatoire</div>
                </div>

                <div class="col">
                    <!-- <label for="prenom" class="form-label">Prénom</label> -->
                    <input type="text" class="form-control" placeholder="Entrer votre prénom" name="prenom" required>
                    <div class="invalid-feedback">Champ obligatoire</div>
                    <div class="valid-feedback">Valide</div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col">
                    <!-- <label for="date de naissance" class="form-label">Date de naissance</label> -->
                    <input type="date" class="form-control" name="date de naissance" required>
                    <div class="invalid-feedback">Champ obligatoire</div>
                    <div class="valid-feedback">Valide</div>
                </div>

                <!-- <div class="col">
                   
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" name="optradio" value="Homme" checked>
                        <label class="form-check-label" for="radio1">Homme</label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" name="optradio" value="Femme">
                        <label class="form-check-label" for="radio2">Femme</label>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col">
                    <!-- <label for="email" class="form-label">Email</label> -->
                    <input type="email" class="form-control" placeholder="Entrer votre Email" name="email" required>
                    <div class="valid-feedback">Valide</div>
                    <div class="invalid-feedback">champs obligatoire</div>
                    <div class="invalid-feedback">Repecter la forme adresse@domaine</div>
                </div>

                <div class="col">
                    <label for="Tel" class="form-label">Téléphone</label>
                    <div class="input-group">
                        <span id="s" class="input-group-text"> +216 </span>
                        <input type="tel" class="form-control" placeholder="N° de Tel" name="phone" id="Tel" required>
                        <div class="valid-feedback">valide<br></div>
                        <div class="invalid-feedback">champ obligatoire<br></div>

                    </div>
                </div>
            </div>



            <br>


            <div class="row">

                <div class="col">
                    <!-- <label for="password" class="form-label">Mot de passe</label> -->
                    <input type="text" class="form-control" placeholder="Entrer votre mot de passe" required>
                    <div class="valid-feedback">valide</div>
                    <div class="invalid-feedback">champ obligatoire</div>
                </div>

                <div class="col">
                    <!-- <label for="Adresse" class="form-label">Adresse</label> -->
                    <input type="text" class="form-control" placeholder="Entrer votre adresse" required>
                    <div class="valid-feedback">valide</div>
                    <div class="invalid-feedback">champ obligatoire</div>
                </div>
            </div>


            <br>

            <!-- <div class="row">
                <div class="col">
                   
                    <input type="text" class="form-control" placeholder="Confirmer mot de passe" required>
                    <div class="valid-feedback">valide</div>
                    <div class="invalid-feedback">champ obligatoire</div>
                </div>
                <div class="col">
                    <label for="code postal" class="form-label">Code postal</label>
                    <input type="text" class="form-control" placeholder="XXXX" required>
                    <div class="valid-feedback">valide</div>
                    <div class="invalid-feedback">champ obligatoire</div>
                </div>
            </div> -->


            <!-- <div class="container">
                <button class="submit-btn" type="submit" href="/">Submit</button>
            </div>
            <br>
            <div class="container">
                <button class="reset-btn" type="reset" href="/">Reset</button>
            </div> -->
            <br><br><br>
            <input type="submit" name="action" value="Submit" class="submit-btn">
            <button type="reset" class="reset-btn" href="/">Reset</button>

        
    </form>
</div>